/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  user-select: none;
  max-width: 100%;}
  .chosen-container * {
    box-sizing: border-box; }
  .chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100% 100%); }
  .chosen-container.chosen-with-drop .chosen-drop {
    clip: auto;
    clip-path: none; }
  .chosen-container a {
    cursor: pointer; }
  .chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
    margin-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    color: #999999; }
    .chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
      content: ":";
      padding-left: 2px;
      vertical-align: top; }

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  background-clip: padding-box;
  text-decoration: none;
  white-space: nowrap;
  line-height: 36px;
  border-radius: 3px;
  height: 36px;
  color: #009dde;
  font-size: 14px; }
.chosen-container-single .chosen-default {
  color: #999; }
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap; }
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px; }
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px; }
  .chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px; }
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px; }
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%; }
  .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/select-item.png) 0 9px no-repeat; }
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap; }
  .chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: url("chosen-sprite.png") no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0; }
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box; }
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100% 100%); }

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #747474;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  max-height: 240px;
  -webkit-overflow-scrolling: touch; }
  .chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 7px;
    list-style: none;
    line-height: 15px;
    font-size: 14px;
    word-wrap: break-word;
    -webkit-touch-callout: none; }
    .chosen-container .chosen-results li.active-result {
      display: list-item;
      cursor: pointer; }
    .chosen-container .chosen-results li.disabled-result {
      display: list-item;
      color: #ccc;
      cursor: default; }
    .chosen-container .chosen-results li.highlighted {
      background-color: #009dde;
      color: #fff; }
    .chosen-container .chosen-results li.no-results {
      color: #777;
      display: list-item;
      background: #f4f4f4; }
    .chosen-container .chosen-results li.group-result {
      display: list-item;
      font-weight: bold;
      cursor: default; }
    .chosen-container .chosen-results li.group-option {
      padding-left: 15px; }
    .chosen-container .chosen-results li em {
      font-style: normal;
      text-decoration: underline; }

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: linear-gradient(#eee 1%, #fff 15%);
  cursor: text; }
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none; }
  .chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap; }
    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
      margin: 1px 0;
      padding: 0;
      height: 25px;
      outline: 0;
      border: 0 !important;
      background: transparent !important;
      box-shadow: none;
      color: #999;
      font-size: 100%;
      font-family: sans-serif;
      line-height: normal;
      border-radius: 0;
      width: 25px; }
  .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    max-width: 100%;
    border-radius: 3px;
    background-color: #eeeeee;
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default; }
    .chosen-container-multi .chosen-choices li.search-choice span {
      word-wrap: break-word; }
    .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
      position: absolute;
      top: 4px;
      right: 3px;
      display: block;
      width: 12px;
      height: 12px;
      background: url("chosen-sprite.png") -42px 1px no-repeat;
      font-size: 1px; }
      .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
        background-position: -42px -10px; }
  .chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    color: #666; }
  .chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4; }
    .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
      background-position: -42px -10px; }
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0; }
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default; }

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb; }
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0; }
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent; }
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb; }
  .chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #222 !important; }

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default; }
  .chosen-disabled .chosen-single {
    cursor: default; }
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default; }

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right; }
  .chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0; }
  .chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl; }
  .chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px; }
  .chosen-rtl .chosen-single div {
    right: auto;
    left: 3px; }
  .chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px; }
  .chosen-rtl .chosen-choices li {
    float: right; }
    .chosen-rtl .chosen-choices li.search-field input[type="text"] {
      direction: rtl; }
    .chosen-rtl .chosen-choices li.search-choice {
      margin: 3px 5px 3px 0;
      padding: 3px 5px 3px 19px; }
      .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
        right: auto;
        left: 4px; }
  .chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0; }
  .chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0; }
  .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none; }
  .chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: url("chosen-sprite.png") no-repeat -30px -20px;
    direction: rtl; }
  .chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px; }
  .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px; }

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important; } }
/* @end */
.new_form {
  border-top: 3px solid #003c7a;
  padding-top: 20px; }
  .new_form label {
    line-height: 20px;
    margin-bottom: 5px;}
  .new_form input[type=file], .new_form input[type=text], .new_form select {
    border-radius: 3px;
    height: 36px; }
  .new_form input[type=file], .new_form input[type=text], .new_form select.form-control, .new_form textarea {
    color: #009dde;
    height: 36px;
    line-height: 36px;
    box-shadow: none;
    border-radius: 3px;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    .new_form input[type=file]::-webkit-input-placeholder, .new_form input[type=text]::-webkit-input-placeholder, .new_form select.form-control::-webkit-input-placeholder, .new_form textarea::-webkit-input-placeholder {
      color: #C7C7C7; }
    .new_form input[type=file]::-moz-placeholder, .new_form input[type=text]::-moz-placeholder, .new_form select.form-control::-moz-placeholder, .new_form textarea::-moz-placeholder {
      color: #C7C7C7; }
    .new_form input[type=file]:-moz-placeholder, .new_form input[type=text]:-moz-placeholder, .new_form select.form-control:-moz-placeholder, .new_form textarea:-moz-placeholder {
      color: #C7C7C7; }
    .new_form input[type=file]:-ms-input-placeholder, .new_form input[type=text]:-ms-input-placeholder, .new_form select.form-control:-ms-input-placeholder, .new_form textarea:-ms-input-placeholder {
      color: #C7C7C7; }
  .new_form textarea.form-control {
    height: auto; }
  .new_form .form-group .btn {
    background-color: #009dde;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 38px;
    height: 38px; }
  .new_form .btn-group .btn {
    font-weight: normal;
    text-transform: uppercase;
    line-height: 38px;
    height: 38px;
    border: 1px solid #CCCCCC;
    background: none;
    color: #747474;
    padding: 0 20px; }
    .new_form .btn-group .btn:first-child {
      border-radius: 3px 0 0 3px; }
    .new_form .btn-group .btn:last-child {
      border-radius: 0 3px 3px 0; }
    .new_form .btn-group .btn:focus {
      outline: none; }
    .new_form .btn-group .btn.active {
      color: #ffffff;
      background-color: #009dde;
      border: 1px solid #009dde;
      box-shadow: none; }
  .new_form .file-add input[type=text] {
    border-radius: 3px 0 0 3px;
    height: 38px;
    background-color: #fff; }
  .new_form .file-add .btn {
    border-radius: 0 3px 3px 0; }
    .new_form .file-add .btn .glyphicon {
      display: none; }
  .new_form .invalid-feedback {
    display: none; }
  .new_form .is-invalid input[type=file], .new_form .is-invalid input[type=text], .new_form .is-invalid select.form-control, .new_form .is-invalid textarea {
    border-color: #dc3545;
    color: #dc3545; }
  .new_form .is-invalid .invalid-feedback, .new_form .is-invalid label {
    color: #dc3545;
    display: block; }

/* Customize the label (the container) */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  line-height: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 3px; }

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #009dde; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.new_form .form-group .btn-cancel {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 38px;
  height: 38px;
  border: 1px solid #CCCCCC;
  background: none;
  color: #747474;
  padding: 0 20px;
}
.new_form .form-group .btn-cancel:hover {
  background: none !important;
}

.text-block-message {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 3px solid #003c7a;
  /*color: #003c7a;*/
  font-size: 16px;
  line-height: 18px;
}
.text-block-message .btn {
  background-color: #009dde;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 38px;
  height: 38px;
  font-size: 12px;
  text-decoration: none;
  color: white;
}
.chosen-container-single .chosen-default {
  color: #cdcdcd;
}
.group-span-filestyle label {
  margin-bottom: 0;
}
@media (max-width: 460px) {

  .new_form .form-group .btn-group .btn:first-child {
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    width: 100%;
    margin-top: 0px;
  }

  .new_form .form-group .btn-group .btn {
    margin-top: -1px;
    border-radius: 0;
    width: 100%;
  }

  .new_form .form-group .btn-group .btn:last-child {
    border-radius: 0 0 3px 3px;
    width: 100%;
    margin-top: -1px;
    margin-left: 0px;
  }
}
/* files */
.new_form .file-drop-zone-title {
  padding: 15px 10px;
}
.new_form .form-group .file-upload-indicator,
.new_form .form-group .kv-file-upload,
.new_form .form-group .kv-file-zoom
{
  display: none;
}
.new_form .file-caption {
  height: 38px;
  line-height: 27px;
}
.new_form .file-footer-buttons .btn i {
  font-size: 16px;
}
.new_form .file-preview .fileinput-remove {
  display: none;
}
.new_form .file-footer-buttons .btn {
  line-height: 30px;
  height: 28px;
  padding: 0 8px;
  border-radius: 3px;
  color: #009dde;
  background-color: white;
}
.theme-explorer-fas .file-actions-cell {
  width: 60px;
}
.theme-explorer-fas .explorer-frame .kv-file-content {
  height: 55px;
  width: 55px;
}
.file-preview {padding: 3px;}
.file-drop-zone {
  border: none;
  margin: 12px 0px 0px 0px;
}
.explorer-frame .file-other-icon {
  color: #646464;
}
.theme-explorer-fas .explorer-caption {
  color: #009dde;
  white-space: normal;
  overflow: hidden;
  word-break: break-all;
}
samp {
  font-family: Tahoma,Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 12px;
  color: #009dde;
}
/*.new_form input[placeholder] {color:#cdcdcd;}*/
/*.new_form input[type="file"]::-webkit-input-placeholder {color:#cdcdcd;}*/
/*.new_form input[type="file"]::-moz-placeholder          {color:#cdcdcd;}!* Firefox 19+ *!*/
/*.new_form input[type="file"]:-moz-placeholder           {color:#cdcdcd;}!* Firefox 18- *!*/
/*.new_form input[type="file"]:-ms-input-placeholder      {color:#cdcdcd;}*/

.landing-faq__item-content {
  padding-bottom: 15px;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/*# sourceMappingURL=added.css.map */

@media (min-width: 1200px) {
  .header-page__social {
    right: 120px;
  }
}
.header-page__social div {
  display: inline-block;
}
.btn-life {
  padding: 5px 15px;
  line-height: 1;
  height: auto;
  margin-right: 29px;
  font-size: 13px;
  margin-top: -7px;
  background-color: #003c7d;
}
.btn-life i, .btn-life span.mob {
  display: none;
}
.btn-life i {
  margin-right: 5px;
}
.btn-life span.main {
  text-transform: uppercase;
}
@media (max-width: 995px) and (min-width: 699px) {
  .header-page__wrap-phone-link {
    margin-top: 32px;
  }
}
@media (max-width: 700px) {
  .header-page__social a.btn-life {
    padding: 2px 5px;
    margin: 0 0 5px -3px;
    font-size: 11px;
  }
  .btn-life span.main {
    text-transform: none;
  }
  .btn-life span.mob {
    display: block;
    font-size: 12px;
    line-height: 16px;
  }
  .btn-life span.main {
    display: none;
  }
  .header-page__social {
    top: 22px;
    text-align: right;
  }
}
@media (max-width: 350px) {
  .header-page__social {
    /*width: 55px;*/
  }
}
.bx-wrapper .bx-caption-right {
  left: unset;
  right: 0;
  bottom: 40px;
}
#PWOsagoModel_VehicleClass label {
  margin-right: 12px;
}
#PWTouristCalcModel_GoalTravel label img {
  max-width: 60px !important;
  margin-right: 0px !important;
}
.table_head_blue, .table_blue_auto {
  min-width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 14px;
  color: #646464;
}
.table_head_blue td, .table_head_blue th,
.table_blue_auto td, .table_blue_auto th {
  vertical-align: middle;
}
.table_head_blue th, .table_blue_auto th {
  font-weight: 600;
  color: #fff;
  /*color: #003c7d;*/
  padding: 9px 10px;
  background: #76c4eb;
  border: none;
}
.table_head_blue p, .border-right p {
  margin-bottom: 0;
}
.table_head_blue th:first-child {
  border-right: 1px solid #bdbdbd;
  text-align: left;
  width: 60%;
}
.table_blue_auto th {
  border-right: 1px solid #bdbdbd;
}
.table_blue_auto th:last-child {
  border: none;
}

.table_head_blue td, .table_blue_auto td {
  padding: 9px 10px;
  border-right: none;
}

.table_head_blue td:first-child {
  border-right: 1px solid #bdbdbd;
  text-align: left;
  width: 60%;
}
.table_blue_auto td {
  border-right: 1px solid #bdbdbd;
}
.table_blue_auto td:last-child {
  border: none;
}

.table_head_blue tr:nth-child(2n), .table_blue_auto tr:nth-child(2n) {
  background: #eceeed;
}
.table_reverse tr:nth-child(2n) {
  background: #fff;
}
.table_reverse tr:nth-child(2n-1) {
  background: #eceeed;
}
.modal {
  max-height: 100%;
  overflow: auto;
}
.news-block {display:flex}
.news-block__img {margin-right:30px}

